In [1]:
import pandas as pd

In [2]:
bike_file = "./data/JC-201901-1-citibike-tripdata.csv"
bike_df = pd.read_csv(bike_file)

In [3]:
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [14]:
bike_df.shape[0]

19676

In [37]:
reduced_bike_df = bike_df.sample(n=10000).reset_index(drop=True)
reduced_bike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,261,2019-01-25 15:52:57.2150,2019-01-25 15:57:18.8720,3206,Hilltop,40.731169,-74.057574,3211,Newark Ave,40.721525,-74.046305,29278,Subscriber,1993,1
1,261,2019-01-24 09:03:26.1040,2019-01-24 09:07:47.7900,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730743,-74.063784,29658,Subscriber,1990,1
2,217,2019-01-23 08:23:21.6380,2019-01-23 08:26:59.1830,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,29230,Subscriber,1983,1
3,408,2019-01-30 00:24:52.8730,2019-01-30 00:31:41.6230,3195,Sip Ave,40.730743,-74.063784,3679,Bergen Ave,40.722104,-74.071455,26200,Subscriber,1995,1
4,644,2019-01-12 20:53:09.0080,2019-01-12 21:03:53.9410,3213,Van Vorst Park,40.718489,-74.047727,3277,Communipaw & Berry Lane,40.714358,-74.066611,29471,Subscriber,1988,1
5,208,2019-01-05 16:06:12.9260,2019-01-05 16:09:41.3470,3184,Paulus Hook,40.714145,-74.033552,3275,Columbus Drive,40.718355,-74.038914,29603,Subscriber,1981,1
6,290,2019-01-28 20:23:54.6810,2019-01-28 20:28:45.0090,3272,Jersey & 3rd,40.723332,-74.045953,3269,Brunswick & 6th,40.726012,-74.050389,26189,Subscriber,1985,1
7,302,2019-01-16 20:28:41.8910,2019-01-16 20:33:44.6670,3276,Marin Light Rail,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,29538,Subscriber,1987,1
8,361,2019-01-18 13:30:24.7820,2019-01-18 13:36:26.2360,3273,Manila & 1st,40.721651,-74.042884,3681,Grand St,40.715178,-74.037683,26237,Subscriber,1968,1
9,293,2019-01-14 09:27:32.7790,2019-01-14 09:32:26.1620,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29461,Subscriber,1974,1
10,654,2019-01-12 13:05:44.4960,2019-01-12 13:16:38.5420,3279,Dixon Mills,40.721630,-74.049968,3207,Oakland Ave,40.737604,-74.052478,26162,Subscriber,1988,1
11,576,2019-01-07 21:47:38.5290,2019-01-07 21:57:15.3980,3279,Dixon Mills,40.721630,-74.049968,3212,Christ Hospital,40.734786,-74.050444,26254,Subscriber,1988,1
12,237,2019-01-06 14:56:16.9730,2019-01-06 15:00:14.2060,3275,Columbus Drive,40.718355,-74.038914,3267,Morris Canal,40.712419,-74.038526,29296,Subscriber,1981,0
13,597,2019-01-30 06:16:22.4960,2019-01-30 06:26:20.2990,3280,Astor Place,40.719282,-74.071262,3195,Sip Ave,40.730743,-74.063784,29224,Subscriber,1986,2
14,86,2019-01-10 15:36:24.7750,2019-01-10 15:37:51.7050,3279,Dixon Mills,40.721630,-74.049968,3211,Newark Ave,40.721525,-74.046305,26227,Subscriber,1982,1
15,198,2019-01-25 16:03:20.1280,2019-01-25 16:06:39.0590,3273,Manila & 1st,40.721651,-74.042884,3203,Hamilton Park,40.727596,-74.044247,29500,Subscriber,1989,1
16,196,2019-01-12 15:27:59.8210,2019-01-12 15:31:15.8500,3272,Jersey & 3rd,40.723332,-74.045953,3278,Monmouth and 6th,40.725685,-74.048790,29538,Subscriber,1980,1
17,161,2019-01-16 13:13:56.5530,2019-01-16 13:16:37.5850,3199,Newport Pkwy,40.728745,-74.032108,3202,Newport PATH,40.727224,-74.033759,29588,Subscriber,1959,2
18,254,2019-01-04 06:06:26.0540,2019-01-04 06:10:40.7490,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29578,Subscriber,1994,2
19,208,2019-01-29 07:35:07.0170,2019-01-29 07:38:35.6550,3481,York St,40.716490,-74.041050,3184,Paulus Hook,40.714145,-74.033552,29639,Subscriber,1985,2
20,233,2019-01-22 11:21:15.8350,2019-01-22 11:25:09.5600,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,29532,Subscriber,1986,1
21,174,2019-01-29 18:37:17.8750,2019-01-29 18:40:12.1800,3272,Jersey & 3rd,40.723332,-74.045953,3269,Brunswick & 6th,40.726012,-74.050389,26215,Subscriber,1991,1
22,235,2019-01-30 23:45:45.3530,2019-01-30 23:49:40.9610,3195,Sip Ave,40.730743,-74.063784,3194,McGinley Square,40.725340,-74.067622,29542,Subscriber,1986,1
23,588,2019-01-04 12:51:55.7540,2019-01-04 13:01:44.5670,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,29497,Subscriber,1969,0
24,434,2019-01-17 17:23:08.8510,2019-01-17 17:30:23.0950,3640,Journal Square,40.733670,-74.062500,3211,Newark Ave,40.721525,-74.046305,26316,Subscriber,1988,1
25,293,2019-01-28 17:59:51.1070,2019-01-28 18:04:44.1100,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,29642,Subscriber,1987,1
26,467,2019-01-09 17:56:46.8570,2019-01-09 18:04:34.8540,3640,Journal Square,40.733670,-74.062500,3210,Pershing Field,40.742677,-74.051789,29438,Subscriber,1979,2
27,184,2019-01-12 07:42:44.3790,2019-01-12 07:45:48.4790,3209,Brunswick St,40.724176,-74.050656,3186,Grove St PATH,40.719586,-74.043117,29612,Subscriber,1980,1
28,407,2019-01-06 08:52:59.3220,2019-01-06 08:59:47.2290,3185,City Hall,40.717733,-74.043845,3269,Brunswick & 6th,40.726012,-74.050389,29472,Subscriber,1985,2
29,136,2019-01-08 07:38:33.6130,2019-01-08 07:40:50.3440,3213,Van Vorst Park,40.718489,-74.047727,3186,Grove St PATH,40.719586,-74.043117,29219,Subscriber,1975,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,139,2019-01-17 17:53:11.9430,2019-01-17 17:55:31.4230,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26163,Subscriber,1982,1
9971,201,2019-01-03 08:24:36.1010,2019-01-03 08:27:57.9790,3214,Essex Light Rail,40.712774,-74.036486,3183,Exchange Place,40.716247,-74.033459,26275,Subscriber,1985,1
9972,1034,2019-01-16 19:49:09.0530,2019-01-16 20:06:23.3740,3213,Van Vorst Park,40.718489,-74.047727,3213,Van Vorst Park,40.718489,-74.047727,29541,Subscriber,1990,1
9973,263,2019-01-08 09:12:04.9760,2019-01-08 09:16:28.2720,3187,Warren St,40.721124,-74.038051,3186,Grove St PATH,40.719586,-74.043117,29515,Subscriber,1990,2
9974,402,2019-01-11 09:00:18.9780,2019-01-11 09:07:01.1040,3210,Pershing Field,40.742677,-74.051789,3640,Journal Square,40.733670,-74.062500,29215,Subscriber,1990,1
9975,383,2019-01-15 10:55:12.7230,2019-01-15 11:01:35.7340,3213,Van Vorst Park,40.718489,-74.047727,3183,Exchange Place,40.716247,-74.033459,29599,Subscriber,1969,0
9976,276,2019-01-14 11:58:10.3580,2019-01-14 12:02:47.2590,3267,Morris Canal,40.712419,-74.038526,3275,Columbus Drive,40.718355,-74.038914,29476,Subscriber,1988,2
9977,335,2019-01-07 20:11:59.2190,2019-01-07 20:17:34.4700,3275,Columbus Drive,40.718355,-74.038914,3276,Marin Light Rail,40.714584,-74.042817,29552,Subscriber,1989,2
9978,2036,2019-01-14 16:18:51.2560,2019-01-14 16:52:47.3940,3213,Van Vorst Park,40.718489,-74.047727,3202,Newport PATH,40.727224,-74.033759,29486,Subscriber,1990,1
9979,170,2019-01-29 19:44:13.9460,2019-01-29 19:47:04.5210,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,26252,Subscriber,1985,1
9980,220,2019-01-08 18:42:02.2850,2019-01-08 18:45:42.5290,3220,5 Corners Library,40.734961,-74.059503,3207,Oakland Ave,40.737604,-74.052478,29267,Subscriber,1994,1
9981,259,2019-01-10 20:15:37.8300,2019-01-10 20:19:57.4170,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,29675,Subscriber,1981,1
9982,66,2019-01-08 08:46:36.0920,2019-01-08 08:47:42.6760,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,29668,Subscriber,1987,1
9983,90,2019-01-01 18:43:47.1490,2019-01-01 18:45:17.6230,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,29220,Subscriber,1978,1
9984,279,2019-01-01 20:26:59.4270,2019-01-01 20:31:38.6110,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,29546,Subscriber,1992,2
9985,266,2019-01-28 18:25:36.9410,2019-01-28 18:30:02.9450,3186,Grove St PATH,40.719586,-74.043117,3278,Monmouth and 6th,40.725685,-74.048790,29282,Subscriber,1983,2
9986,215,2019-01-16 08:12:07.2800,2019-01-16 08:15:42.4550,3269,Brunswick & 6th,40.726012,-74.050389,3273,Manila & 1st,40.721651,-74.042884,29122,Subscriber,1982,1
9987,226,2019-01-28 12:45:18.5130,2019-01-28 12:49:04.7060,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730743,-74.063784,29524,Subscriber,1989,1
9988,84,2019-01-28 23:04:09.4120,2019-01-28 23:05:33.9480,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,26232,Subscriber,1993,1
9989,1150,2019-01-17 11:14:58.1230,2019-01-17 11:34:08.4830,3195,Sip Ave,40.730743,-74.063784,3198,Heights Elevator,40.748716,-74.040443,26200,Subscriber,1953,1
9990,475,2019-01-05 11:52:58.8060,2019-01-05 12:00:54.0340,3483,Montgomery St,40.719420,-74.050990,3187,Warren St,40.721124,-74.038051,29636,Subscriber,1983,1
9991,482,2019-01-15 12:48:45.0370,2019-01-15 12:56:47.2760,3199,Newport Pkwy,40.728745,-74.032108,3639,Harborside,40.719252,-74.034234,26286,Subscriber,1960,1
9992,223,2019-01-04 20:30:30.3020,2019-01-04 20:34:13.9540,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,26243,Subscriber,1983,1
9993,246,2019-01-21 09:04:35.0850,2019-01-21 09:08:41.7590,3202,Newport PATH,40.727224,-74.033759,3639,Harborside,40.719252,-74.034234,29438,Subscriber,1992,1
9994,6299,2019-01-01 14:12:54.5650,2019-01-01 15:57:54.0760,3192,Liberty Light Rail,40.711242,-74.055701,3211,Newark Ave,40.721525,-74.046305,29465,Customer,1969,0
9995,247,2019-01-02 18:03:44.8770,2019-01-02 18:07:52.6530,3183,Exchange Place,40.716247,-74.033459,3481,York St,40.716490,-74.041050,29482,Subscriber,1968,2
9996,174,2019-01-13 14:32:14.8870,2019-01-13 14:35:09.0410,3269,Brunswick & 6th,40.726012,-74.050389,3270,Jersey & 6th St,40.725289,-74.045572,29206,Subscriber,1983,2
9997,689,2019-01-02 15:10:53.2390,2019-01-02 15:22:22.2960,3277,Communipaw & Berry Lane,40.714358,-74.066611,3186,Grove St PATH,40.719586,-74.043117,26254,Subscriber,1998,1
9998,1131,2019-01-22 13:30:50.1010,2019-01-22 13:49:41.2330,3203,Hamilton Park,40.727596,-74.044247,3193,Lincoln Park,40.724605,-74.078406,29438,Subscriber,1969,1
9999,103,2019-01-29 16:53:43.8220,2019-01-29 16:55:27.0110,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29197,Subscriber,1969,0

In [38]:
def genderID (row):
    if row['gender'] == 0:
        return 'Unknown'
    if row['gender'] == 1:
        return 'Male'
    if row['gender'] == 2:
        return 'Female'

reduced_bike_df['Gender'] = reduced_bike_df.apply(lambda row: genderID(row), axis=1)

reduced_bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Gender
0,261,2019-01-25 15:52:57.2150,2019-01-25 15:57:18.8720,3206,Hilltop,40.731169,-74.057574,3211,Newark Ave,40.721525,-74.046305,29278,Subscriber,1993,1,Male
1,261,2019-01-24 09:03:26.1040,2019-01-24 09:07:47.7900,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730743,-74.063784,29658,Subscriber,1990,1,Male
2,217,2019-01-23 08:23:21.6380,2019-01-23 08:26:59.1830,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,29230,Subscriber,1983,1,Male
3,408,2019-01-30 00:24:52.8730,2019-01-30 00:31:41.6230,3195,Sip Ave,40.730743,-74.063784,3679,Bergen Ave,40.722104,-74.071455,26200,Subscriber,1995,1,Male
4,644,2019-01-12 20:53:09.0080,2019-01-12 21:03:53.9410,3213,Van Vorst Park,40.718489,-74.047727,3277,Communipaw & Berry Lane,40.714358,-74.066611,29471,Subscriber,1988,1,Male

In [39]:
new = reduced_bike_df['starttime'].str.split(" ", n = 1, expand = True)
reduced_bike_df["Start Date"]= new[0]
reduced_bike_df["Start Time"]= new[1]

In [40]:
new2 = reduced_bike_df['stoptime'].str.split(" ", n = 1, expand = True)
reduced_bike_df["Stop Date"]= new2[0]
reduced_bike_df["Stop Time"]= new2[1]

In [41]:
reduced_bike_df.drop(columns =['starttime','stoptime'], inplace = True)
reduced_bike_df["Stop Time"] = reduced_bike_df["Stop Time"].map(lambda x: str(x)[:-8])
reduced_bike_df["Start Time"] = reduced_bike_df["Start Time"].map(lambda x: str(x)[:-8])

In [45]:
new3 = reduced_bike_df['Start Time'].str.split(":", n = 1, expand = True)
reduced_bike_df["Start Hour"]= new3[0]
reduced_bike_df["Start Minute"]= new3[1]

new4 = reduced_bike_df['Stop Time'].str.split(":", n = 1, expand = True)
reduced_bike_df["Stop Hour"]= new4[0]
reduced_bike_df["Stop Minute"]= new4[1]

reduced_bike_df.drop(columns =['Start Time','Stop Time'], inplace = True)

In [47]:
new5 = reduced_bike_df['Start Date'].str.split("-", n = 2, expand = True)
reduced_bike_df["Start Year"]= new5[0]
reduced_bike_df["Start Month"]= new5[1]
reduced_bike_df["Start Day"]= new5[2]

In [49]:
new6 = reduced_bike_df['Stop Date'].str.split("-", n = 2, expand = True)
reduced_bike_df["Stop Year"]= new6[0]
reduced_bike_df["Stop Month"]= new6[1]
reduced_bike_df["Stop Day"]= new6[2]

In [50]:
reduced_bike_df.head()

,tripduration,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,...,Start Hour,Start Minute,Stop Hour,Stop Minute,Start Year,Start Month,Start Day,Stop Year,Stop Month,Stop Day
0,261,3206,Hilltop,40.731169,-74.057574,3211,Newark Ave,40.721525,-74.046305,29278,...,15,52,15,57,2019,01,25,2019,01,25
1,261,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730743,-74.063784,29658,...,09,03,09,07,2019,01,24,2019,01,24
2,217,3205,JC Medical Center,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,29230,...,08,23,08,26,2019,01,23,2019,01,23
3,408,3195,Sip Ave,40.730743,-74.063784,3679,Bergen Ave,40.722104,-74.071455,26200,...,00,24,00,31,2019,01,30,2019,01,30
4,644,3213,Van Vorst Park,40.718489,-74.047727,3277,Communipaw & Berry Lane,40.714358,-74.066611,29471,...,20,53,21,03,2019,01,12,2019,01,12

In [51]:
reduced_bike_df.columns

Index(['tripduration', 'start station id', 'start station name',
       'start station latitude', 'start station longitude', 'end station id',
       'end station name', 'end station latitude', 'end station longitude',
       'bikeid', 'usertype', 'birth year', 'gender', 'Gender', 'Start Date',
       'Stop Date', 'Start Hour', 'Start Minute', 'Stop Hour', 'Stop Minute',
       'Start Year', 'Start Month', 'Start Day', 'Stop Year', 'Stop Month',
       'Stop Day'],
      dtype='object')

In [52]:
cleaned_bike_df = reduced_bike_df[['Start Date','Stop Date', 'Start Hour', 'Start Minute', 'Stop Hour', 'Stop Minute','Start Year', 'Start Month', 'Start Day', 'Stop Year', 'Stop Month','Stop Day','tripduration', 'start station id', 'start station name','start station latitude', 'start station longitude', 'end station id','end station name', 'end station latitude', 'end station longitude','bikeid', 'usertype', 'birth year','Gender']]

In [53]:
cleaned_bike_df.head()

,Start Date,Stop Date,Start Hour,Start Minute,Stop Hour,Stop Minute,Start Year,Start Month,Start Day,Stop Year,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,Gender
0,2019-01-25,2019-01-25,15,52,15,57,2019,01,25,2019,...,40.731169,-74.057574,3211,Newark Ave,40.721525,-74.046305,29278,Subscriber,1993,Male
1,2019-01-24,2019-01-24,09,03,09,07,2019,01,24,2019,...,40.725726,-74.071959,3195,Sip Ave,40.730743,-74.063784,29658,Subscriber,1990,Male
2,2019-01-23,2019-01-23,08,23,08,26,2019,01,23,2019,...,40.716540,-74.049638,3186,Grove St PATH,40.719586,-74.043117,29230,Subscriber,1983,Male
3,2019-01-30,2019-01-30,00,24,00,31,2019,01,30,2019,...,40.730743,-74.063784,3679,Bergen Ave,40.722104,-74.071455,26200,Subscriber,1995,Male
4,2019-01-12,2019-01-12,20,53,21,03,2019,01,12,2019,...,40.718489,-74.047727,3277,Communipaw & Berry Lane,40.714358,-74.066611,29471,Subscriber,1988,Male

In [54]:
cleaned_bike_df.to_csv("cleaned_10k_bike_data.csv")

Below is the process of cleaning data that was not ultimately used for the final analysis in Tableau.

In [2]:
a_m_2019 = "./data/data0419-0519.csv"
a_m_2019_df = pd.read_csv(a_m_2019)

In [3]:
a_m_2019_df.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1/2019,51399.0,75072.0,303223.0,1466.0,76.0
1,4/2/2019,57903.0,83399.0,303386.0,1483.0,73.0
2,4/3/2019,67924.0,108780.0,303552.0,3013.0,79.0
3,4/4/2019,66403.0,104268.0,303699.0,2633.0,87.0
4,4/5/2019,34470.0,46930.0,303766.0,812.0,46.0

In [6]:
a_m_2019_df['Date'].dtype

dtype('O')

In [7]:
new = a_m_2019_df["Date"].str.split("/201", n = 1, expand = True)

In [8]:
a_m_2019_df["Month/Day"]= new[0]
a_m_2019_df["Year"]= new[1]
a_m_2019_df['Year']=2019

In [11]:
a_m_2019_df.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),Month/Day,Year
0,4/1/2019,51399.0,75072.0,303223.0,1466.0,76.0,4/1,2019
1,4/2/2019,57903.0,83399.0,303386.0,1483.0,73.0,4/2,2019
2,4/3/2019,67924.0,108780.0,303552.0,3013.0,79.0,4/3,2019
3,4/4/2019,66403.0,104268.0,303699.0,2633.0,87.0,4/4,2019
4,4/5/2019,34470.0,46930.0,303766.0,812.0,46.0,4/5,2019

In [12]:
a_m_2019_df.drop(columns =["Date"], inplace = True)

In [13]:
a_m_2019_df.head()

,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm),Month/Day,Year
0,51399.0,75072.0,303223.0,1466.0,76.0,4/1,2019
1,57903.0,83399.0,303386.0,1483.0,73.0,4/2,2019
2,67924.0,108780.0,303552.0,3013.0,79.0,4/3,2019
3,66403.0,104268.0,303699.0,2633.0,87.0,4/4,2019
4,34470.0,46930.0,303766.0,812.0,46.0,4/5,2019

In [14]:
a_m_2019_df.columns

Index(['Trips over the past 24-hours (midnight to 11:59pm)',
       'Miles traveled today (midnight to 11:59 pm)',
       'Total Annual Members (All Time)',
       '24-Hour Passes Purchased (midnight to 11:59 pm)',
       '3-Day Passes Purchased (midnight to 11:59 pm)', 'Month/Day', 'Year'],
      dtype='object')

In [15]:
cleaned_a_m_2019_df = a_m_2019_df[["Month/Day","Year",'Trips over the past 24-hours (midnight to 11:59pm)','Miles traveled today (midnight to 11:59 pm)','24-Hour Passes Purchased (midnight to 11:59 pm)','3-Day Passes Purchased (midnight to 11:59 pm)']]

In [16]:
cleaned_a_m_2019_df.head()

,Month/Day,Year,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1,2019,51399.0,75072.0,1466.0,76.0
1,4/2,2019,57903.0,83399.0,1483.0,73.0
2,4/3,2019,67924.0,108780.0,3013.0,79.0
3,4/4,2019,66403.0,104268.0,2633.0,87.0
4,4/5,2019,34470.0,46930.0,812.0,46.0

In [19]:
cleaned_a_m_2019_df.to_csv("data0419-0519.csv")

In [20]:
a_m_2018 = "./data/data0418-0518.csv"
a_m_2018_df = pd.read_csv(a_m_2018)

In [22]:
a_m_2018_df.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1/2018,33148.0,94040.0,257811.0,2363.0,264.0
1,4/2/2018,22062.0,50418.0,257889.0,297.0,20.0
2,4/3/2018,25883.0,59477.0,257942.0,189.0,21.0
3,4/4/2018,36755.0,80049.0,258025.0,611.0,48.0
4,4/5/2018,39814.0,87382.0,258086.0,972.0,112.0

In [21]:
a_m_2018_df.columns

Index(['Date', 'Trips over the past 24-hours (midnight to 11:59pm)',
       'Miles traveled today (midnight to 11:59 pm)',
       'Total Annual Members (All Time)',
       '24-Hour Passes Purchased (midnight to 11:59 pm)',
       '3-Day Passes Purchased (midnight to 11:59 pm)'],
      dtype='object')

In [23]:
new_one = a_m_2018_df["Date"].str.split("/201", n = 1, expand = True)
a_m_2018_df["Month/Day"]= new[0]
a_m_2018_df["Year"]= new[1]
a_m_2018_df['Year']=2018
a_m_2018_df.drop(columns =["Date"], inplace = True)
cleaned_a_m_2018_df = a_m_2018_df[["Month/Day","Year",'Trips over the past 24-hours (midnight to 11:59pm)','Miles traveled today (midnight to 11:59 pm)','24-Hour Passes Purchased (midnight to 11:59 pm)','3-Day Passes Purchased (midnight to 11:59 pm)']]
cleaned_a_m_2018_df.to_csv("data0418-0518.csv")

In [24]:
cleaned_a_m_2018_df.head()

,Month/Day,Year,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1,2018,33148.0,94040.0,2363.0,264.0
1,4/2,2018,22062.0,50418.0,297.0,20.0
2,4/3,2018,25883.0,59477.0,189.0,21.0
3,4/4,2018,36755.0,80049.0,611.0,48.0
4,4/5,2018,39814.0,87382.0,972.0,112.0

In [25]:
a_m_2017 = "./data/data0417-0517.csv"
a_m_2017_df = pd.read_csv(a_m_2017)
a_m_2017_df.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1/17,23849,67299,210739,767,43
1,4/2/17,39779,130087,210915,3639,58
2,4/3/17,43484,104217,211075,970,68
3,4/4/17,29990,63091,211171,183,23
4,4/5/17,47635,108281,211310,1192,59

In [26]:
a_m_2017_df.columns

Index(['Date', 'Trips over the past 24-hours (midnight to 11:59pm)',
       'Miles traveled today (midnight to 11:59 pm)',
       'Total Annual Members (All Time)',
       '24-Hour Passes Purchased (midnight to 11:59 pm)',
       '3-Day Passes Purchased (midnight to 11:59 pm)'],
      dtype='object')

In [27]:
new_one = a_m_2017_df["Date"].str.split("/201", n = 1, expand = True)
a_m_2017_df["Month/Day"]= new[0]
a_m_2017_df["Year"]= new[1]
a_m_2017_df['Year']=2017
a_m_2017_df.drop(columns =["Date"], inplace = True)
cleaned_a_m_2017_df = a_m_2017_df[["Month/Day","Year",'Trips over the past 24-hours (midnight to 11:59pm)','Miles traveled today (midnight to 11:59 pm)','24-Hour Passes Purchased (midnight to 11:59 pm)','3-Day Passes Purchased (midnight to 11:59 pm)']]
cleaned_a_m_2017_df.to_csv("data0417-0517.csv")

In [28]:
cleaned_a_m_2017_df.head()

,Month/Day,Year,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1,2017,23849,67299,767,43
1,4/2,2017,39779,130087,3639,58
2,4/3,2017,43484,104217,970,68
3,4/4,2017,29990,63091,183,23
4,4/5,2017,47635,108281,1192,59